@using CI_Platform_Project.DataModels
@model IEnumerable<Banner>
@{
    ViewData["Title"] = "Banner";
    Layout = "~/Areas/Admin/Views/Pages/_Layout.cshtml";
}

<button class="mision-border  p-2" style="background-color: white;"><span style="font-size: 22px;color: #414141">Banner</span></button>

<a asp-area="Admin" asp-controller="Admin" asp-action="AddBanner"><button type="submit" class="mx-4 px-4  py-1 btn-block rounded-pill button float-end"> Add<i class="bi-ad ms-2"></i></button></a>

<hr class="m-0 mb-4">
<table id="datatable" class="table row-border" style="width:100%">
    <thead>
        <tr>
            <th class="w-75">Title</th>
            <th>
                Status
            </th>
            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Title</td>
                <td style="color:blue">
                    @(obj.Status == 1 ? "Active" : "In-Active")
                </td>
                <td>
                <form method="post">
                    <a asp-area="Admin" asp-controller="Admin" asp-action="AddBanner" asp-route-id="@obj.BannerId"><i class="bi bi-pencil-square" style="color:#f88634;"></i></a>
                    &nbsp;
                
                    <button type="submit" formmethod="post" asp-area="Admin" asp-controller="Admin" asp-action="DeleteBanner" asp-route-id=@obj.BannerId role="button" class="btn p-0" data-bs-toggle="modal">
                        <i class="bi bi-trash text-end"></i>
                    </button>
                </form>

                </td>

            </tr>
        }
    </tbody>

</table>

