@using CI_Platform_Project.DataModels
@model Story;

<div class="modal fade" id="CoWorker">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modalForm" method="post" action="CoWorkerStory">
                    <div class="form-group"><input asp-for="StoryId" type="text" hidden /></div>
                    <div class="form-group">
                        <label>Enter Emailhkjj</label>
                        <input type="email" name="InviteEmail" class="form-control" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <button type="button" class="btn btn-primary" data-save="modal">Send</button>

            </div>
        </div>
    </div>
</div>
