@model UserDetail

<script src="~/js/popper.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function check() {
        console.log("hii");
  const password = document.querySelector('input[id=password]');
  const confirm = document.querySelector('input[id=confirm]');
        
  if (confirm.value == password.value) {
      document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';

    confirm.setCustomValidity('');
  } else {
      document.getElementById('message').style.color = 'red';
      document.getElementById('message').innerHTML = 'not matching';
    confirm.setCustomValidity('Passwords do not match');
  }
}
</script>


<div id="ConfirmPassword" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method=" post"  id="modalForm" action="ConfirmPassord">
                <div class="modal-body pt-0">
                    <div class="col-md-12 mb-3 ">
                        <input type="text" asp-for="@Model.Password" class="form-control small"  placeholder="Enter old password">
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" asp-for="@Model.newPassword" class="form-control"  onkeyup="check()" id="password" placeholder="Enter new password">
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="confirm" onkeyup="check()"  placeholder="Enter confirm password">
                        <span id='message'></span>
                    </div>
                </div>
                <div class="text-danger pt-5">@TempData["errorMessage"]</div>
            </form>
            <div class="modal-footer border-top-0">
                <button type="submit" data-bs-dismiss="modal" class="add-skill px-3  py-1 btn-block rounded-pill  " style="font-size: 16px;">Cancel</button>
                <button type="submit" class=" px-3 py-1 btn-block rounded-pill button" data-save="modal" style="font-size: 17px;">Change Password</button>
            </div>
        </div>
    </div>
</div>
